coverage
flake8
flake8-print
mypy
myst-nb
restructuredtext-lint
setuptools_scm
sphinx
sphinx_rtd_theme
towncrier

# testing
# Also add to .conda/meta.yaml
pytest
numdifftools

# examples
matplotlib
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
